sudo: false
language: java

jdk:
  - openjdk8

cache:
  directories:
    - $HOME/.m2

install: travis_wait mvn clean install -DskipTests=true -Dpmd.skip=true -Dgpg.skip=true -Dmaven.javadoc.skip=true -B -V -e -P travis

# for sonarcloud.io
dist: xenial

after_success:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dmaven.javadoc.skip=true -Dgpg.skip=true -Pcoverage,travis

# use latest java version available instead of travis default
addons:
  sonarcloud:
    organization: "legaldocml"
    token:
      secure: $SONAR_TOKEN